[user]
  name = jarra
  email = suhrawardi@gmail.com

[alias]
  ci = commit
  co = checkout
  st = status
  ctags = !.git/hooks/ctags
  tidy = "!git branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
  cleanup = "!git remote update origin --prune"

[advice]
  ignoredHook = false

[apply]
  whitespace = strip

[diff]
  color = auto

[status]
  color = auto

[github]
  user = suhrawardi

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input

[push]
  default = current

[pull]
  default = current
  rebase = true

[init]
  templatedir = ~/.git_template
